* {
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-style: hidden;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  width: 100%;
  background: lightblue;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 35px;
}

li {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.highlighted {
  background: yellow;
}

.greyed {
  background: lightgray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bigScore {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 80px;
}

td {
  position: relative;
  border: 2px solid lightblue;
  padding: 5px;
}

.rulesButton {
  width: 100%;
  border-width: 0px;
  background: lightblue;
  border-radius: 5px;
}

.container {
  width: 100%;
  text-align: center;
}

.rulesText {
  text-align: left;
}

.rulesContainer {
  background: #ebf6f9;
  border-radius: 5px;
}

.resetButton {
  position: absolute;
  right: 20px;
  margin: 5px;
  background: #76bdd5;
  border: 0px;
  border-radius: 5px;
}
